body{
    font-family: 'Times New Roman', serif;
}
nav{
    background-color: blue;
    width: 600px;
    margin-bottom: 20px;
}
.menu li {
    display: inline-block;

}
.menu li a {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-right: 2px solid white;
}
.menu li a.active {
    color: yellow;
}
